<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SportsPro</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <style>
        html, body {
            height: 100%;
        }

        body {
            display: flex;
            flex-direction: column;
        }

        main {
            flex: 1;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-primary mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">SportsPro</a>

                <button class="navbar-toggler" type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <nav class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div class="navbar-nav me-auto">
                        <ul class="navbar-nav">
                       
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </>
                       
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Product" asp-action="List">Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Technician" asp-action="List">Technicians</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Customer" asp-action="List">Customers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Incident" asp-action="List">Incidents</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Registration" asp-action="Index">Registrations</a>
                        </li>
                       </ul>
                    </div>
                    <div class="navbar-nav ms-auto">
                        <ul class="navbar-nav">

                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link fw-bold text-white">Welcome, @User.Identity.Name!</a>
                            </li>
                            <li class="nav-item">
                                <form asp-controller="Account" asp-action="Logout" method="post" class="d-inline">
                                    <button type="submit" class="btn btn-outline-light">Logout</button>
                                </form>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Account" asp-action="Login">Log In</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Account" asp-action="Register">Register</a>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="About">About</a>
                        </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </nav>
    </header>
    <div class="container">

        <main>
            <my-temp-message />
            @RenderBody()
        </main>
    </div>

    <footer class="bg-light text-center text-secondary py-3 mt-auto">
        @await Component.InvokeAsync("Copyright")
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @RenderSection("Scripts", required: false)

</body>
</html>
